AIS Ship Types: https://api.vtexplorer.com/docs/ref-aistypes.html

Country codes to MMSI: https://documentation.spire.com/ais-fundamentals/vessel-flag-codes/

MMSI to IMO: https://www.marinetraffic.com/en/data/?asset_type=vessels&columns=flag,shipname,photo,recognized_next_port,reported_eta,reported_destination,current_port,imo,ship_type,show_on_live_map,time_of_latest_position,lat_of_latest_position,lon_of_latest_position,notes

MMSI to Gross tonnage and deadweight tonnage & size: https://www.vesselfinder.com/vessels

Maritime Vessels Directory: https://www.marinevesseltraffic.com/vessels?page=2

Trip data of vessels from MyShipTracking (live data): https://www.myshiptracking.com/vessels?ajax=true&page=2

Current arrivals and departures to SG port: https://www.myshiptracking.com/ports/port-of-singapore-in-sg-singapore-id-386

Port name, country, code, and type: https://www.marinevesseltraffic.com/ports?page=2&port=none&country=none

IMO to company: https://www.marinevesseltraffic.com/container-lines-maps/MAERSK

AIS Technical Characteristics Documentation: http://www.allaboutais.com/index.php/en/ais-technical-information-footer/80-ais-technicals
Vessel Type and Group Codes: https://coast.noaa.gov/data/marinecadastre/ais/VesselTypeCodes2018.pdf
Navigational Status Codes: https://documentation.spire.com/ais-fundamentals/how-to-interpret-navigational-status-codes/
AIS Ship Types: https://api.vtexplorer.com/docs/ref-aistypes.html

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import requests
from bs4 import BeautifulSoup

header = {"User-Agent": 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/128.0.0.0 Safari/537.36'}

# Pass a dict object to the headers parameter
r = requests.get("https://api.vtexplorer.com/docs/ref-aistypes.html", headers=header)

print(r.status_code)

200

In [2]:
# Make a request to the web page
response = requests.get("https://api.vtexplorer.com/docs/ref-aistypes.html")

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the table element
table = soup.find('div',{'class':'container'})


# Extract the table data
table_data = []
for row in table.find_all("tr"):
    columns = row.find_all("td")
    table_row = []
    for column in columns:
        table_row.append(column.text)
    table_data.append(table_row)

In [3]:
columns = ['Code', 'Description']
ship_codes_df = pd.DataFrame(table_data, columns=columns)
ship_codes_df = ship_codes_df.drop(0)
ship_codes_df.head()

   Code                                   Description
1     0                       Not available (default)
2  1-19                       Reserved for future use
3    20  Wing in ground (WIG), all ships of this type
4    21    Wing in ground (WIG), Hazardous category A
5    22    Wing in ground (WIG), Hazardous category B

In [4]:
r = requests.get("https://documentation.spire.com/ais-fundamentals/ship-type-mappings/", headers=header)
print(r.status_code)

200

In [ ]:
import pandas as pd
import requests

url = "https://documentation.spire.com/ais-fundamentals/ship-type-mappings/"

response = requests.get(url, headers=header)

if response.status_code == 200:
    ShipType_df = pd.read_html(response.text)[1]
    print(CountryCode_df.head())
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

In [5]:
ShipType_df.to_csv('ship_codes_csv', index=False)

In [6]:
import pandas as pd
import requests

url = "https://documentation.spire.com/ais-fundamentals/vessel-flag-codes/"

response = requests.get(url, headers=header)

if response.status_code == 200:
    CountryCode_df = pd.read_html(response.text)[1]
    print(CountryCode_df.head())
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

   MID Country Name Country Code
0  201      Albania           AL
1  202      Andorra           AD
2  203      Austria           AT
3  204     Portugal           PT
4  205      Belgium           BE

In [7]:
ship_codes_df.to_csv('ship_codes_csv', index=False)

In [8]:
CountryCode_df.to_csv('CountryCode_csv', index=False)

In [10]:
r = requests.get("https://www.vesselfinder.com/vessels/details/9382528", headers=header)
print(r.status_code)

200

In [15]:
import pandas as pd
import requests

url = "https://www.vesselfinder.com/vessels/details/9382528"

response = requests.get(url, headers=header)

if response.status_code == 200:
    ShipDat_df = pd.read_html(response.text)[1]
    first_row_list = ShipDat_df.T.iloc[1].tolist()
    new_df = pd.concat([new_df, pd.DataFrame([first_row_list])])
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

In [4]:
new_df = pd.DataFrame()
new_df

Empty DataFrame
Columns: []
Index: []

In [16]:
new_df

Empty DataFrame
Columns: []
Index: []

In [ ]:
transposed_df = ShipDat_df.T
# Rename the first row of the transposed DataFrame as the header
transposed_df.rename(columns=transposed_df.iloc[0], inplace=True)
transposed_df = transposed_df.drop(transposed_df.index, axis=0)
transposed_df

In [ ]:
new_row_df = pd.DataFrame([new_row], columns=transposed_df.columns)
transposed_df = transposed_df.append(new_row_df, ignore_index=True)

In [25]:
mmsi_df = pd.read_csv('distinct_mmsi.csv')

In [ ]:
abc=mmsi_df["mmsi"][1]
print(f"https://www.vesselfinder.com/vessels/details/{abc}")

In [16]:
len(mmsi_df)

8444

In [ ]:
pip install fake-useragent

In [24]:
len(new_df)

1065

In [10]:
new_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,9545637,CHANG LONG,General Cargo Ship,Panama,NaN,8979,13618,140,20,NaN,2010,NaN,NaN,NaN,NaN
0,9331892,LILY RISING,Bulk Carrier,Panama,NaN,31236,56083,190,32,NaN,2007,NaN,NaN,NaN,NaN
0,9433872,SEACON OSAKA,General Cargo Ship,Panama,NaN,9932,14416,128,20,NaN,2008,NaN,NaN,NaN,NaN
0,9909065,NAVIOS STAR,Bulk Carrier,Panama,-,44175,81994,229,32,-,2021,-,-,-,NaN
0,9169158,EVER UNITY,Container Ship,Panama,NaN,69246,63216,285,40,NaN,1999,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,9582491,SAMMY,Bulk Carrier,Panama,NaN,43268,82167,229,32,NaN,2012,NaN,NaN,NaN,NaN
0,9479840,LUCTOR,Chemical/Oil Products Tanker,Panama,NaN,29419,50383,182,32,NaN,2011,NaN,NaN,NaN,NaN
0,9846093,LEMAN TRADER,Bulk Carrier,Panama,-,43310,82192,229,32,NaN,2019,NaN,NaN,NaN,NaN
0,9706750,ONE MUNCHEN,Container Ship,Panama,-,151672,146906,366,51,NaN,2015,NaN,NaN,NaN,NaN
0,9622710,GENIUS STAR XI,General Cargo Ship,Panama,NaN,9984,13663,125,21,NaN,2012,NaN,NaN,NaN,NaN

In [46]:
new_df.to_csv('new_df', index=False)

In [22]:
pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
     ---------- ---------------------------- 30.7/112.2 kB 1.4 MB/s eta 0:00:01
     -------------------------------------- 112.2/112.2 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.9 in c:\users\vikram\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\vikram\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Installing collected packages: html5lib
Successfully installed html5lib-1.1
Note: you may need to restart the kernel to use updated packages.

In [22]:
import requests
import pandas as pd
from fake_useragent import UserAgent
import time

def get_ship_data(url, headers):

  user_agent = UserAgent().random
  headers["User-Agent"] = user_agent

  response = requests.get(url, headers=headers)
  if response.status_code == 200:
    tables = pd.read_html(response.text)
    if tables and len(tables) > 1:  # Check if tables exist and there is at least one table.
        ShipDat_df = tables[1]
        first_row_list = ShipDat_df.T.iloc[1].tolist()
        return first_row_list
  elif response.status_code == 404:
    print(f"Failed to retrieve the page. Status code: 404")
  else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")
  return None

for i in range(8345, len(mmsi_df)):
  abc = mmsi_df["mmsi"][i]
  ship_data = get_ship_data(f"https://www.vesselfinder.com/vessels/details/{abc}", header)
  if ship_data is not None:
      new_df = pd.concat([new_df, pd.DataFrame([ship_data])])
  time.sleep(3)

Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404
Failed to retrieve the page. Status code: 404

In [23]:
new_df.to_csv('new_df6', index=False)

In [12]:
import pandas as pd
import requests

url = "https://www.citipedia.info/en/tides/singapore/sembawang_singapore/m/september"

response = requests.get(url, headers=header)

if response.status_code == 200:
    Tides_df = pd.read_html(response.text)[0]
    print(CountryCode_df.head())
else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

  Dec  Tide
  Dec  Time Height H/L
0   1   216    2.8   H
1   1   716    1.8   L
2   1  1246    3.1   H
3   1  1933    0.5   L
4   2   258    2.7   H

In [ ]:
Tides_df.to_csv('Tides_csv', index=False)